:root{
    --corPrincipal: #343A40;
    --corSecundaria:#fff;
    --corFundo: #ddd;
}

*{
    font-family: 'QuickSand', Courier, monospace,Arial, Helvetica, sans-serif; 
}

body{
    background-color: var(--corFundo);
}

#logo{
    width:40px;
}

footer span:first-of-type{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    color:var(--corPrincipal);
    font-weight: 900;
}

div.container-ps{
    width:100%; 
    padding:50px 0;  
    background-image:url(../fotos/wallpaper.jpg); 
    border-top:6px solid var(--corPrincipal);  
}

div.container-ps span{
    margin-top:0px;
    margin-right: 15px;
    display: flex;
    place-self: center;
    justify-content: center;
    color:var(--corSecundaria);
    font-weight: 900;
}